
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header {
    background-color: #8B0000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 98.5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

.brand h1 {
    margin-left: 20px;
    justify-content: center;
}

.points {
    margin-right: 20px;
    font-weight: bold;
}


.container {
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}


.sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.section-left, .section-right, .section-center {
    background-color: #a0512da6;
    padding: 20px;
    border-radius: 8px;
    color: white;
    flex: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B22222;
}


#dateDisplay {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #8B0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #8B0000;
    outline: none;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #8B0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #B22222;
}


#error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}


body.login-page {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header h1 {
    align-items: end;
    font-size: 24px;
    margin-bottom: 20px;
}

#welcomeMessage {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}